@import "../../styles/vars";

.bigger_screen_left_menu {
  display: none;

  a {
    cursor: pointer;
    text-decoration: none;
    margin-top: 28px;
    font-size: 18px;
    font-weight: 500;
    color: rgba($color: $dark-blue-color, $alpha: 0.5);

    &:hover {
      color: $dark-blue-color;
    }

    &:first-of-type {
      margin-top: 53px;
      color: $dark-blue-color;

      @media screen and (min-width: 1440px) {
        margin-top: 91px;
      }
    }

    .dashboard_icon {
      margin-right: 9px;
    }

    @media screen and (min-width: 1440px) {
      margin-top: 34px;
      font-size: 20px;
    }
  }

  @media screen and (min-width: 768px) {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: 1440px) {
    margin-left: 60px;
  }
}
