@import "../../styles/vars";

.small_screen_welcome {
  font-weight: 500;
  text-align: center;
  padding-top: 20px;
  color: $new-off-white-color;
  font-size: 18px;
  font-family: "Lato", sans-serif;

  span {
    color: initial;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.dashboard_divider {
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-top: 1px solid rgba($color: $new-off-white-color, $alpha: 0.6);
  margin: 10px 20px 20px;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.dashboard_nav {
  margin: 0 20px 20px;

  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .icons {
      display: flex;
    }

    li {
      margin-left: 40px;

      .dashboard_icon {
        cursor: pointer;
        width: 16px;
        height: 14px;
        color: rgba($color: $new-off-white-color, $alpha: 0.6);
        font-family: "Lato", sans-serif;
      }
    }
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}
