@import "../../styles//vars";

.bigger_screen_top_container {
  display: none;

  .company_name_and_welcome {
    display: flex;

    .bigger_screen_welcome,
    .company_name {
      font-family: "Lato", sans-serif;
      font-size: 20px;
      font-weight: 500;
      color: $new-off-white-color;
      position: relative;
    }

    .bigger_screen_welcome {
      position: absolute;
      left: 214px;

      &::before {
        position: absolute;
        content: "";
        bottom: -20px;
        border-bottom: 1px solid rgba($color: $new-off-white-color, $alpha: 0.6);
        width: 350px;
      }

      span {
        color: initial;
      }

      @media screen and (min-width: 1440px) {
        position: absolute;
        left: 308px;

        &::before {
          width: 875px;
        }
      }
    }

    .company_name {
      margin-right: 39px;

      &::before {
        position: absolute;
        content: "";
        bottom: -20px;
        border-bottom: 1px solid rgba($color: $new-off-white-color, $alpha: 0.6);
        width: 150px;

        @media screen and (min-width: 1440px) {
          width: 200px;
        }
      }
    }
  }

  @media screen and (min-width: 768px) {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  @media screen and (min-width: 1440px) {
    padding: 20px 60px;
  }
}
