@import "../../../styles/vars";

main {
  .chart_container {
    position: absolute;
    left: 47px;
    right: 40px;
    top: 140px;
    bottom: 60px;

    @media screen and (min-width: 744px) {
      display: none;
    }
  }
}
