@import "../../styles/vars";

.features_section {
  .single_feature {
    margin: 60px 20px 0px;

    .feature_texts {
      h2 {
        line-height: 100%;
        color: $dark-blue-color;
        font-family: "Barlow", sans-serif;
        font-size: 30px;
        font-weight: 800;

        .light_blue {
          color: $light-blue-color;
        }

        .pink_text {
          color: $pink-color;
        }

        .blue_text {
          color: $blue-color;
        }

        @media screen and (min-width: 768px) {
          width: 330px;
        }

        @media screen and (min-width: 1440px) {
          font-size: 35px;
          min-width: 390px;
        }
      }

      p {
        margin-top: 15px;
        margin-bottom: 15px;
        line-height: 163%;
        color: $dark-blue-color;

        @media screen and (min-width: 768px) {
          margin-top: 30px;
        }

        @media screen and (min-width: 1440px) {
          font-size: 20px;
          margin-top: 40px;
          max-width: 466px;
        }
      }

      @media screen and (min-width: 768px) {
        width: 46%;
      }
    }

    .feature_img {
      border-radius: 7px;
      box-shadow: 0px 7.00837px 2.80335px rgba(0, 0, 0, 0.1);
      background-repeat: no-repeat;
      overflow: hidden;
      height: 210px;
      position: relative;
      background-size: cover;

      @media screen and (min-width: 768px) {
        width: 46%;
        height: 342px;
        overflow: visible;
      }

      @media screen and (min-width: 1440px) {
        height: 400px;
      }
    }

    .feature_img_simple {
      background-image: url("../../assets/simple-feature-image.jpg");
      background-position: 60% 60%;

      img {
        display: none;

        @media screen and (min-width: 768px) {
          display: block;
          position: absolute;
          top: -65px;
          left: 20px;
          width: 174px;
          height: 135px;
        }

        @media screen and (min-width: 1440px) {
          top: -65px;
          left: -50px;
          width: 250px;
          height: 195px;
        }
      }
    }

    .feature_img_free {
      background-image: url("../../assets/free-feature-image.jpg");
      background-position: 35% 60%;

      img {
        display: none;

        @media screen and (min-width: 768px) {
          display: block;
          position: absolute;
          top: -60px;
          right: 10px;
          width: 174px;
          height: 135px;
        }

        @media screen and (min-width: 1440px) {
          top: -90px;
          left: 20px;
          width: 250px;
          height: 195px;
        }
      }
    }

    .feature_img_speed {
      background-image: url("../../assets/speed-feature-image.jpg");
      background-position: 35% 60%;

      img {
        display: none;

        @media screen and (min-width: 768px) {
          display: block;
          position: absolute;
          right: 20px;
          top: -60px;
          width: 140px;
          height: 183px;
        }

        @media screen and (min-width: 1440px) {
          top: -150px;
          right: 30px;
          width: 195px;
          height: 255px;
        }
      }
    }

    @media screen and (min-width: 768px) {
      margin: 120px 40px 0;
      display: flex;
      justify-content: space-between;
    }
  }

  .feature_reversed {
    @media screen and (min-width: 768px) {
      flex-direction: row-reverse;
    }
  }
}
