@import "../../styles/vars";

@keyframes open {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.hero_section {
  height: 402px;
  background-image: url("../../assets/hero-image.jpg");
  background-position: 25% 75%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;

  .menu {
    width: 0%;
    height: 100%;
    background-color: rgba($color: $dark-blue-color, $alpha: 0.99);
    position: absolute;
    z-index: 1;
    animation: open ease-in 0.3s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    transition: width ease-in-out 5s;

    @media screen and (min-width: 768px) {
      display: none;
    }

    ul {
      display: flex;
      flex-direction: column;
      margin-left: 20px;
      margin-top: 90px;
      overflow: hidden;

      li {
        list-style: none;
        margin-bottom: 15px;
        color: $off-white-color;
        font-weight: 500;
        font-size: 15px;
        white-space: nowrap;
      }

      .auth_btn {
        width: 90px;
        height: 40px;
        font-size: 15px;
        border-radius: 10px;
        text-align: center;
        line-height: 40px;

        a {
          text-decoration: none;
        }
      }

      .login_btn {
        font-weight: 600;
        border: 1px solid $yellow-color;

        a {
          color: $off-white-color;
        }
      }

      .sign_up_btn {
        font-weight: 700;
        background-color: $yellow-color;

        a {
          color: $dark-blue-color;
        }
      }
    }
  }

  .check_circle {
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
      position: absolute;
      width: 45px;
      height: 45px;
      left: 71%;
      top: 260px;
    }

    @media screen and (min-width: 1440px) {
      width: 55px;
      height: 55px;
      left: 73.25%;
      top: 330px;
    }
  }

  .graph_image {
    display: none;

    @media screen and (min-width: 768px) {
      position: absolute;
      display: block;
      top: 216px;
      height: 309px;
      left: 73%;
      box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.1);
    }

    @media screen and (min-width: 1440px) {
      position: absolute;
      display: block;
      top: 293px;
      height: 327px;
      left: 75%;
    }
  }

  nav {
    padding-top: 30px;
    margin: 0 20px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      display: none;

      @media screen and (min-width: 768px) {
        display: flex;
        width: 50%;
        justify-content: space-around;
        margin: 0 auto;

        li {
          list-style: none;

          .nav_link {
            text-decoration: none;
            color: $off-white-color;
            font-weight: 500;
            cursor: pointer;
          }
        }
      }

      @media screen and (min-width: 1440px) {
      }
    }

    .auth_buttons {
      display: none;

      @media screen and (min-width: 768px) {
        display: flex;

        .auth_btn {
          width: 90px;
          height: 40px;
          font-size: 15px;
          border-radius: 10px;
          text-align: center;
          line-height: 40px;

          a {
            text-decoration: none;
          }
        }

        .login_btn {
          font-weight: 600;
          border: 1px solid $yellow-color;

          a {
            color: $off-white-color;
            padding: 1.34rem;
          }
        }

        .sign_up_btn {
          font-weight: 700;
          background-color: $yellow-color;
          margin-left: 30px;

          a {
            color: $dark-blue-color;
            padding: 1rem;
          }
        }
      }
    }

    .logo_link {
      font-family: "Barlow", sans-serif;
      text-decoration: none;
      font-size: 25px;
      line-height: 25px;
      font-weight: 800;
      z-index: 1000;

      &:visited {
        text-decoration: none;
      }

      .blue_text_span {
        color: $blue-color;
      }

      .off_white_text_span {
        color: $off-white-color;
      }
    }

    .hamburger_menu {
      font-size: 25px;
      color: $off-white-color;
      cursor: pointer;
      z-index: 10;

      @media screen and (min-width: 768px) {
        display: none;
      }
    }

    @media screen and (min-width: 1440px) {
      margin: 0 140px 0 140px;
    }
  }

  .text_wrapper {
    width: 100%;
    background-color: rgba($color: $dark-blue-color, $alpha: 0.5);
    position: absolute;
    bottom: 0;
    top: 150px;

    h1 {
      font-family: "Barlow", sans-serif;
      margin-top: 20px;
      margin-left: 20px;
      color: $off-white-color;
      font-size: 40px;
      font-weight: 800;
      line-height: 95%;
      width: 335px;

      .yellow_text_span {
        color: $yellow-color;
      }

      @media screen and (min-width: 768px) {
        width: 459px;
        font-size: 45px;
      }

      @media screen and (min-width: 1440px) {
        width: 459px;
        font-size: 55px;
        margin-left: 140px;
      }
    }

    p {
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 20px;
      color: $off-white-color;
      line-height: 163%;
      width: 274px;
      font-size: 15px;

      @media screen and (min-width: 768px) {
        width: 377px;
        margin-bottom: 30px;
      }

      @media screen and (min-width: 1440px) {
        font-size: 20px;
        margin-left: 140px;
      }
    }

    .cta_button {
      border-radius: 10px;
      margin-left: 20px;
      width: 170px;
      height: 39px;
      background-color: $yellow-color;

      a {
        text-align: center;
        display: block;
        text-decoration: none;
        line-height: 39px;
        font-size: 15px;
        font-weight: bold;
        color: $dark-blue-color;

        @media screen and (min-width: 768px) {
          line-height: 53px;
        }
      }

      @media screen and (min-width: 768px) {
        width: 187.39px;
        height: 53px;
      }

      @media screen and (min-width: 1440px) {
        margin-left: 140px;
      }
    }

    @media screen and (min-width: 768px) {
      width: 497px;
      height: 309px;
      top: 216px;
      bottom: 82px;
    }

    @media screen and (min-width: 1440px) {
      width: 705px;
      height: 327px;
      top: 293px;
      bottom: 82px;
    }
  }

  @media screen and (min-width: 768px) {
    height: 607px;
  }

  @media screen and (min-width: 1440px) {
    height: 800px;
  }
}
