@import "../../styles/vars";

.testimonials_section {
  h2 {
    color: $dark-blue-color;
    font-family: "Barlow", sans-serif;
    line-height: 95%;
    font-size: 40px;
    text-align: center;
    margin: 0 auto;
    width: 335px;

    .red_text {
      color: $red-color;
    }

    @media screen and (min-width: 768px) {
      font-size: 45px;
      width: 782px;
    }

    @media screen and (min-width: 1440px) {
      font-size: 55px;
    }
  }

  .testimonial_para {
    line-height: 163%;
    color: $dark-blue-color;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
      margin-bottom: 60px;
    }

    @media screen and (min-width: 1440px) {
      font-size: 20px;
    }
  }

  .testimonials_container {
    margin: 0 20px;

    @media screen and (min-width: 768px) {
      margin: 0 40px;
      display: flex;
      justify-content: space-between;
    }

    @media screen and (min-width: 1440px) {
      margin: 0 120px;
      column-gap: 30px;
    }
  }
}
