@import "../styles/vars";

.faq_section {
  position: relative;

  h2 {
    color: $dark-blue-color;
    font-family: "Barlow", sans-serif;
    line-height: 95%;
    font-size: 40px;
    text-align: center;
    margin: 0 auto 30px;
    width: 335px;

    @media screen and (min-width: 768px) {
      font-size: 45px;
      margin: 0 auto 60px;
    }

    @media screen and (min-width: 1440px) {
      font-size: 55px;
    }
  }

  img {
    position: absolute;
    right: 30%;
    top: -60px;
  }

  .faqs_container {
    margin: 0 20px;

    @media screen and (min-width: 768px) {
      margin: 0 auto;
      width: 620px;
    }

    @media screen and (min-width: 1440px) {
      margin: 0 auto;
      width: 824px;
    }
  }
}
