@import "../styles/vars";

footer {
  margin-top: 60px;
  height: 99px;
  background-color: rgba($color: $red-color, $alpha: 0.5);

  .logo_wrapper {
    padding-top: 10px;
    text-align: center;

    .logo_link {
      font-family: "Barlow", sans-serif;
      text-decoration: none;
      font-size: 25px;
      line-height: 25px;
      font-weight: 800;
      z-index: 1000;

      &:visited {
        text-decoration: none;
      }

      .blue_text {
        color: $blue-color;
      }

      .off_white_text {
        color: $off-white-color;
      }
    }

    @media screen and (min-width: 768px) {
      padding-top: 30px;
    }
  }

  hr {
    margin: 10px auto;
    width: 50%;
    height: 0.92px;
    background: rgba(41, 43, 77, 0.1);
    border: 0;

    @media screen and (min-width: 768px) {
      margin: 30px auto;
    }
  }

  p {
    text-align: center;
    color: rgba($color: $dark-blue-color, $alpha: 0.5);
  }

  @media screen and (min-width: 768px) {
    margin-top: 120px;
    height: 186px;
  }
}
