@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700;800&family=Lato:wght@400;700&display=swap');
@import "vars";

// RESETS START

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body,
#root {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Lato", sans-serif;
  background-color: $black-color;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  padding-inline-start: 0px;
}

#root,
#__next {
  isolation: isolate;
}

// RESETS END

