@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;800;900&family=Open+Sans:wght@300;400;500;700;800&display=swap");
@import "vars";

// RESETS START

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body,
#root {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans", sans-serif;
  background-color: $off-white-color;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  padding-inline-start: 0px;
}

#root,
#__next {
  isolation: isolate;
}

// RESETS END

// DIVIDER START
.divider {
  width: 187.5px;
  border-top: 1px solid $dark-blue-color;
  margin: 60px auto;
}

@media screen and(min-width:768px) {
  .divider {
    width: 512px;
    border-top: 1px solid $dark-blue-color;
    margin: 120px auto;
  }
}

@media screen and(min-width:1440px) {
  .divider {
    width: 580px;
    border-top: 1px solid $dark-blue-color;
    margin: 120px auto;
  }
}

// DIVIDER END

