body {
  background-color: $off-white-color;
}

// HERO START

.hero-section {
  height: 402px;
  background-image: url("../assets/hero-image.jpg");
  background-position: 25% 75%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;

  .check-circle {
    display: none;
  }

  .graph-image {
    display: none;
  }

  .menu {
    width: 0%;
    height: 100%;
    background-color: rgba($color: $dark-blue-color, $alpha: 0.99);
    position: absolute;
    z-index: 1;
    animation: open ease-in 0.3s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    transition: width ease-in-out 5s;

    ul {
      display: flex;
      flex-direction: column;
      margin-left: 20px;
      margin-top: 90px;
      overflow: hidden;

      li {
        list-style: none;
        margin-bottom: 15px;
        color: $off-white-color;
        font-weight: 500;
        font-size: 15px;
        white-space: nowrap;
      }

      .auth-btn {
        width: 90px;
        height: 40px;
        font-size: 15px;
        border-radius: 10px;
        text-align: center;
        line-height: 40px;

        a {
          text-decoration: none;
        }
      }

      .login-btn {
        font-weight: 600;
        border: 1px solid $yellow-color;

        a {
          color: $off-white-color;
        }
      }

      .sign-up-btn {
        font-weight: 700;
        background-color: $yellow-color;

        a {
          color: $dark-blue-color;
        }
      }
    }
  }

  @keyframes open {
    from {
      width: 0%;
    }
    to {
      width: 100%;
    }
  }

  nav {
    padding-top: 30px;
    margin: 0 20px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      display: none;
    }

    .auth-buttons {
      display: none;
    }

    .logo-link {
      font-family: "Barlow", sans-serif;
      text-decoration: none;
      font-size: 25px;
      line-height: 25px;
      font-weight: 800;
      z-index: 1000;

      &:visited {
        text-decoration: none;
      }

      .blue-text-span {
        color: $blue-color;
      }

      .off-white-text-span {
        color: $off-white-color;
      }
    }

    .hamburger-menu {
      font-size: 25px;
      color: $off-white-color;
      cursor: pointer;
      z-index: 10;
    }
  }

  .text-wrapper {
    width: 100%;
    background-color: rgba($color: $dark-blue-color, $alpha: 0.5);
    position: absolute;
    bottom: 0;
    top: 150px;

    h1 {
      font-family: "Barlow", sans-serif;
      margin-top: 20px;
      margin-left: 20px;
      color: $off-white-color;
      font-size: 40px;
      font-weight: 800;
      line-height: 95%;
      width: 335px;

      .yellow-text-span {
        color: $yellow-color;
      }
    }

    p {
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 20px;
      color: $off-white-color;
      line-height: 163%;
      width: 274px;
      font-size: 15px;
    }

    .cta-button-hero {
      border-radius: 10px;
      margin-left: 20px;
      width: 170px;
      height: 39px;
      background-color: $yellow-color;

      a {
        text-align: center;
        display: block;
        text-decoration: none;
        line-height: 39px;
        font-size: 15px;
        font-weight: bold;
        color: $dark-blue-color;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    height: 607px;

    .menu {
      display: none;
    }

    .graph-image {
      position: absolute;
      display: block;
      top: 216px;
      height: 309px;
      left: 73%;
      box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.1);
    }

    .check-circle {
      display: block;
      position: absolute;
      width: 45px;
      height: 45px;
      left: 71%;
      top: 260px;
    }

    nav {
      ul {
        display: flex;
        width: 50%;
        justify-content: space-around;
        margin: 0 auto;

        li {
          list-style: none;

          .nav-link {
            text-decoration: none;
            color: $off-white-color;
            font-weight: 500;
            cursor: pointer;
          }
        }
      }
      .hamburger-menu {
        display: none;
      }

      .auth-buttons {
        display: flex;

        .auth-btn {
          width: 90px;
          height: 40px;
          font-size: 15px;
          border-radius: 10px;
          text-align: center;
          line-height: 40px;

          a {
            text-decoration: none;
          }
        }

        .login-btn {
          font-weight: 600;
          border: 1px solid $yellow-color;

          a {
            color: $off-white-color;
            padding: 1.34rem;
          }
        }

        .sign-up-btn {
          font-weight: 700;
          background-color: $yellow-color;
          margin-left: 30px;

          a {
            color: $dark-blue-color;
            padding: 1rem;
          }
        }
      }
    }

    .text-wrapper {
      width: 497px;
      height: 309px;
      top: 216px;
      bottom: 82px;

      h1 {
        width: 459px;
        font-size: 45px;
      }

      p {
        width: 377px;
        margin-bottom: 30px;
      }

      .cta-button-hero {
        width: 187.39px;
        height: 53px;

        a {
          line-height: 53px;
        }
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .hero-section {
    height: 800px;

    .graph-image {
      position: absolute;
      display: block;
      top: 293px;
      height: 327px;
      left: 75%;
    }

    .check-circle {
      width: 55px;
      height: 55px;
      left: 73.25%;
      top: 330px;
    }

    nav {
      margin: 0 140px 0 140px;
      ul {
        display: flex;
        width: 50%;
        justify-content: space-around;
        margin: 0 auto;

        li {
          list-style: none;

          .nav-link {
            text-decoration: none;
            color: $off-white-color;
            font-weight: 500;
          }
        }
      }
      .hamburger-menu {
        display: none;
      }

      .auth-buttons {
        display: flex;

        .auth-btn {
          width: 90px;
          height: 40px;
          font-size: 15px;
          border-radius: 10px;
          text-align: center;
          line-height: 40px;

          a {
            text-decoration: none;
          }
        }

        .login-btn {
          font-weight: 600;
          border: 1px solid $yellow-color;

          a {
            color: $off-white-color;
          }
        }

        .sign-up-btn {
          font-weight: 700;
          background-color: $yellow-color;
          margin-left: 30px;

          a {
            color: $dark-blue-color;
          }
        }
      }
    }

    .text-wrapper {
      width: 705px;
      height: 327px;
      top: 293px;
      bottom: 82px;

      h1 {
        width: 459px;
        font-size: 55px;
        margin-left: 140px;
      }

      p {
        font-size: 20px;
        margin-left: 140px;
      }

      .cta-button-hero {
        margin-left: 140px;
      }
    }
  }
}

// HERO END

// FEATURES START

.features-section {
  .single-feature {
    margin: 60px 20px 0px;

    h2 {
      line-height: 100%;
      color: $dark-blue-color;
      font-family: "Barlow", sans-serif;
      font-size: 30px;
      font-weight: 800;

      .light-blue-text-span {
        color: $light-blue-color;
      }

      .pink-text-span {
        color: $pink-color;
      }

      .blue-text-span {
        color: $blue-color;
      }
    }

    p {
      margin-top: 15px;
      margin-bottom: 15px;
      line-height: 163%;
      color: $dark-blue-color;
    }

    .feature-img {
      border-radius: 7px;
      box-shadow: 0px 7.00837px 2.80335px rgba(0, 0, 0, 0.1);
      background-repeat: no-repeat;
      overflow: hidden;
      height: 210px;
      position: relative;
      background-size: cover;
    }

    .feature-img-simple {
      background-image: url("../assets/simple-feature-image.jpg");
      background-position: 60% 60%;

      img {
        display: none;
      }
    }

    .feature-img-free {
      background-image: url("../assets/free-feature-image.jpg");
      background-position: 35% 60%;

      img {
        display: none;
      }
    }

    .feature-img-speed {
      background-image: url("../assets/speed-feature-image.jpg");
      background-position: 35% 60%;

      img {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .features-section {
    .single-feature {
      margin: 120px 40px 0;
      display: flex;
      justify-content: space-between;

      .feature-texts {
        width: 46%;

        h2 {
          width: 330px;
        }

        p {
          margin-top: 30px;
        }
      }

      .feature-img {
        width: 46%;
        height: 342px;
        overflow: visible;
      }

      .feature-img-simple {
        img {
          display: block;
          position: absolute;
          top: -65px;
          left: 20px;
          width: 174px;
          height: 135px;
        }
      }

      .feature-img-free {
        img {
          display: block;
          position: absolute;
          top: -60px;
          right: 10px;
          width: 174px;
          height: 135px;
        }
      }

      .feature-img-speed {
        img {
          display: block;
          position: absolute;
          right: 20px;
          top: -60px;
          width: 140px;
          height: 183px;
        }
      }
    }

    .feature-reversed {
      flex-direction: row-reverse;
    }
  }
}

@media screen and (min-width: 1440px) {
  .features-section {
    .single-feature {
      margin: 120px 140px 0;
      display: flex;
      justify-content: space-between;

      .feature-texts {
        width: 46%;

        h2 {
          font-size: 35px;
          min-width: 390px;
        }

        p {
          font-size: 20px;
          margin-top: 40px;
          max-width: 466px;
        }
      }

      .feature-img {
        width: 46%;
        height: 400px;
        overflow: visible;
      }

      .feature-img-simple {
        img {
          top: -65px;
          left: -50px;
          width: 250px;
          height: 195px;
        }
      }

      .feature-img-free {
        img {
          top: -90px;
          left: 20px;
          width: 250px;
          height: 195px;
        }
      }

      .feature-img-speed {
        img {
          top: -150px;
          right: 30px;
          width: 195px;
          height: 255px;
        }
      }
    }

    .feature-reversed {
      flex-direction: row-reverse;
    }
  }
}

// FEATURES END

// TESTIMONIALS START

.testimonials-section {
  h2 {
    color: $dark-blue-color;
    font-family: "Barlow", sans-serif;
    line-height: 95%;
    font-size: 40px;
    text-align: center;
    margin: 0 auto;
    width: 335px;

    .red-text-span {
      color: $red-color;
    }
  }

  .testimonial-para {
    line-height: 163%;
    color: $dark-blue-color;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
  }

  .testimonials-container {
    margin: 0 20px;

    .single-testimonial {
      background-color: rgba($color: $light-blue-color, $alpha: 0.6);
      border-radius: 7px;
      height: 316px;
      margin-bottom: 60px;
      position: relative;
      box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.1);

      .testimonial-icon {
        position: absolute;
      }

      .heart {
        top: -30px;
      }

      .star {
        bottom: -30px;
        right: 40px;
      }

      .plus-one {
        top: -30px;
        left: 70px;
      }

      hr {
        left: 0;
        right: 0;
        height: 0.92px;
        background: rgba($color: $dark-blue-color, $alpha: 0.1);
        border: 0;
        margin: 0px 20px;
        position: absolute;
        bottom: 105px;
      }

      .testimonial-text {
        padding-top: 30px;
        line-height: 163%;
        font-size: 15px;
        margin: 0 20px 0;
        text-align: left;
        color: $dark-blue-color;
      }

      .underline-details {
        position: absolute;
        bottom: 30px;
        margin-left: 20px;
        display: flex;

        .name-and-role {
          display: flex;
          flex-direction: column;
          margin-left: 30px;
          justify-content: space-between;

          .testimonial-name {
            font-weight: 500;
            font-size: 16px;
            color: $dark-blue-color;
          }

          .testimonial-role {
            font-weight: 300;
            font-size: 12px;
            color: rgba($color: $dark-blue-color, $alpha: 0.5);
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .testimonials-section {
    h2 {
      font-size: 45px;
      width: 782px;
    }

    .testimonial-para {
      margin-bottom: 60px;
    }

    .testimonials-container {
      margin: 0 40px;
      display: flex;
      justify-content: space-between;

      .single-testimonial {
        height: 400px;
        flex: 1;
        max-width: 29vw;
        min-height: 50vh;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .testimonials-section {
    h2 {
      font-size: 55px;
    }

    .testimonial-para {
      font-size: 20px;
    }

    .testimonials-container {
      margin: 0 120px;
      column-gap: 30px;

      .single-testimonial {
        // width: 367px;
        height: 440px;
        flex: inherit;

        .testimonial-text {
          padding-top: 60px;
          font-size: 20px;
        }

        .underline-details {
          .testimonial-photo {
            width: 56px;
          }

          .name-and-role {
            .testimonial-name {
              font-size: 20px;
            }

            .testimonial-role {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}

// TESTIMONIALS END

// FAQ START

.faq-section {
  position: relative;

  h2 {
    color: $dark-blue-color;
    font-family: "Barlow", sans-serif;
    line-height: 95%;
    font-size: 40px;
    text-align: center;
    margin: 0 auto 30px;
    width: 335px;
  }

  img {
    position: absolute;
    right: 30%;
    top: -60px;
  }

  .faqs-container {
    margin: 0 20px;

    .single-faq {
      height: 55px;
      border: 1px solid $dark-blue-color;
      box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.1);
      margin-bottom: 30px;
      border-radius: 7px;
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      align-items: baseline;
      position: relative;
      overflow: hidden;
      transition: height ease-in-out 0.3s;
      -moz-transition: height ease-in-out 0.3s;
      -webkit-transition: height ease-in-out 0.3s;
      -o-transition: height ease-in-out 0.3s;

      h3 {
        color: $dark-blue-color;
        font-size: 18px;
        line-height: 18px;
        margin-left: 20px;
        margin-top: 20px;
      }

      .plus-icon {
        margin-right: 20px;
        color: $dark-blue-color;
      }

      .faq-text {
        color: $dark-blue-color;
        position: absolute;
        left: 20px;
        right: 20px;
        top: 58px;
      }
    }

    .opened {
      height: 160px;
    }
  }
}

@media screen and (min-width: 768px) {
  .faq-section {
    h2 {
      font-size: 45px;
      margin: 0 auto 60px;
    }

    .faqs-container {
      margin: 0 auto;
      width: 620px;

      .single-faq {
        height: 75px;

        h3 {
          margin-top: 28.5px;
        }

        .faq-text {
          margin-top: 28.5px;
        }
      }

      .opened {
        height: 160px;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .faq-section {
    h2 {
      font-size: 55px;
    }

    .faqs-container {
      margin: 0 auto;
      width: 824px;

      .single-faq {
        height: 100px;

        h3 {
          line-height: 25px;
          font-size: 25px;
          margin-top: 37.5px;
        }

        .faq-text {
          font-size: 20px;
          margin-top: 37.5px;
        }
      }

      .opened {
        height: 160px;
      }
    }
  }
}

// FAQ END

// NEWSLETTER START

.newsletter-section {
  .newsletter-wrapper {
    background-color: $yellow-color;
    margin: 60px 20px 0;
    height: 256px;
    position: relative;
    border-radius: 7px;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.1);

    .mail-icon {
      width: 45px;
      height: 45px;
      position: absolute;
      top: -25px;
      right: 20%;
    }

    h1 {
      padding-top: 30px;
      font-size: 45px;
      font-family: "Barlow", sans-serif;
      line-height: 95%;
      font-weight: 800;
      color: $dark-blue-color;
      margin-left: 18px;
      margin-right: 18px;
      max-width: 300px;
    }

    form {
      display: flex;
      justify-content: space-between;
      margin: 0 20px 0;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 30px;

      input[type="email"] {
        font-family: inherit;
        flex: 1;
        height: 46px;
        border-radius: 7px;
        border: 1.62759px solid $dark-blue-color;
        padding-left: 10px;

        &:focus {
          outline: none;
        }
      }

      button {
        height: 46px;
        font-weight: 600;
        color: $off-white-color;
        background-color: $dark-blue-color;
        border: none;
        border-radius: 7px;
        margin-left: 10px;
        width: 104px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .newsletter-section {
    .newsletter-wrapper {
      margin: 0 40px 0;

      h1 {
        margin-left: 80px;
        margin-right: 80px;
        max-width: 320px;
      }

      form {
        margin: 0 80px 0;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .newsletter-section {
    .newsletter-wrapper {
      margin: 0 140px 0;
      height: 300px;

      .mail-icon {
        width: 55px;
        height: 55px;
      }

      h1 {
        margin-left: 100px;
        margin-right: 100px;
        font-size: 55px;
        max-width: 520px;
      }

      form {
        margin: 0 100px 0;
      }
    }
  }
}

// NEWSLETTER END

// FOUNDERS NOTE START

.founders-note-section {
  h1 {
    text-align: center;
    font-size: 45px;
    font-family: "Barlow", sans-serif;
    line-height: 95%;
    font-weight: 800;
    color: $dark-blue-color;
  }

  .founders-note-wrapper {
    background-color: rgba($color: $light-blue-color, $alpha: 0.5);
    margin: 60px 20px 0;
    border-radius: 7px;
    min-height: 1250px;
    position: relative;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.1);

    p {
      font-size: 20px;
      padding-top: 30px;
      margin: 0 20px 0;
      line-height: 163%;
      max-height: 1089px;

      a {
        color: inherit;
      }
    }

    hr {
      left: 0;
      right: 0;
      height: 0.92px;
      background: rgba($color: $dark-blue-color, $alpha: 0.1);
      border: 0;
      margin: 0px 20px;
      width: 50%;
      position: absolute;
      bottom: 105px;
    }

    .underline-details {
      position: absolute;
      bottom: 30px;
      margin-left: 20px;
      display: flex;

      .founder-photo {
        width: 45px;
        height: 45px;
      }

      .name-and-role {
        display: flex;
        flex-direction: column;
        margin-left: 30px;
        justify-content: space-between;
        margin: 0;

        .founder-name {
          font-weight: 500;
          font-size: 16px;
          color: $dark-blue-color;
          padding-top: 0px;
        }

        .founder-role {
          font-weight: 300;
          font-size: 12px;
          color: rgba($color: $dark-blue-color, $alpha: 0.5);
          padding-top: 0px;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .founders-note-section {
    .founders-note-wrapper {
      margin: 60px 40px 0;
      min-height: 1000px;

      hr {
        margin: 0 80px;
      }

      p {
        padding-top: 60px;
        margin: 0 80px 0;
      }

      .underline-details {
        margin-left: 80px;

        .name-and-role {
          margin-left: 30px;

          .founder-name {
            margin: 0;
          }
          .founder-role {
            margin: 0;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .founders-note-section {
    h1 {
      font-size: 55px;
    }
    .founders-note-wrapper {
      margin: 60px 140px 0;
      min-height: 780px;

      hr {
        margin: 0 140px;
      }

      p {
        padding-top: 60px;
        margin: 0 140px 0;
      }

      .underline-details {
        margin-left: 140px;

        .founder-photo {
          width: 55px;
          height: 55px;
        }

        .name-and-role {
          margin-left: 30px;

          .founder-name {
            margin: 0;
          }
          .founder-role {
            margin: 0;
          }
        }
      }
    }
  }
}

// FOUNDERS NOTE END

// FOOTER START

footer {
  margin-top: 60px;
  height: 99px;
  background-color: rgba($color: $red-color, $alpha: 0.5);

  .logo-wrapper {
    padding-top: 10px;
    text-align: center;

    .logo-link {
      font-family: "Barlow", sans-serif;
      text-decoration: none;
      font-size: 25px;
      line-height: 25px;
      font-weight: 800;
      z-index: 1000;

      &:visited {
        text-decoration: none;
      }

      .blue-text-span {
        color: $blue-color;
      }

      .off-white-text-span {
        color: $off-white-color;
      }
    }
  }

  hr {
    margin: 10px auto;
    width: 50%;
    height: 0.92px;
    background: rgba(41, 43, 77, 0.1);
    border: 0;
  }

  p {
    text-align: center;
    color: rgba($color: $dark-blue-color, $alpha: 0.5);
  }
}

@media screen and (min-width: 768px) {
  footer {
    margin-top: 120px;
    height: 186px;

    .logo-wrapper {
      padding-top: 30px;
    }

    hr {
      margin: 30px auto;
    }
  }
}

// FOOTER END

// SIGN UP START

.signup {
  margin-top: 30px;
  max-width: 80vw;
  margin: 60px auto;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  .error-message {
    position: absolute;
    top: -50px;
    background-color: $red-color;
    left: 0;
    right: 0;
    width: fit-content;
    margin: 0 auto;
    padding: 5px 10px;
    border-radius: 8px;
  }

  .slide {
    transition: top 1s;
    transition-timing-function: ease-in-out;
    top: 10px;
  }

  .logo-wrapper {
    padding-top: 30px;
    display: inline-block;

    .logo-link {
      font-family: "Barlow", sans-serif;
      text-decoration: none;
      font-size: 25px;
      line-height: 25px;
      font-weight: 800;
      z-index: 1000;

      &:visited {
        text-decoration: none;
      }

      .blue-text-span {
        color: $blue-color;
      }

      .pink-text-span {
        color: $pink-color;
      }
    }
  }

  .form-wrapper {
    .login-again {
      padding-bottom: 30px;
    }

    h3 {
      margin-top: 30px;
      margin-bottom: 30px;
      color: $dark-blue-color;
      font-size: 18px;
      line-height: 18px;
      font-family: "Barlow", sans-serif;

      span {
        font-weight: 400;
      }
    }

    p {
      margin-bottom: 30px;
      font-size: 14px;
      color: $dark-blue-color;

      a {
        text-decoration: none;
        color: $blue-color;
      }
    }

    form {
      .label-and-input-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        position: relative;

        label {
          cursor: pointer;
          margin-bottom: 4px;
          font-weight: 500;
        }

        label,
        input {
          font-size: 16px;
        }

        input {
          padding: 10px;
          line-height: 10px;
          font-family: inherit;
          flex: 1;
          border-radius: 7px;
          border: 1px solid rgba($color: $dark-blue-color, $alpha: 0.2);

          &:focus {
            outline: 1px solid rgba($color: $light-blue-color, $alpha: 0.5);
          }
        }
      }

      button {
        cursor: pointer;
        font-size: 16px;
        width: 100%;
        font-weight: 600;
        color: $off-white-color;
        background-color: $dark-blue-color;
        border: none;
        border-radius: 7px;
        padding: 10px;
        margin-bottom: 30px;
        margin-top: 35px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .signup {
    margin: 60px auto;
    max-width: 50vw;
  }
}

@media screen and (min-width: 1440px) {
  .signup {
    max-width: 30vw;

    .form-wrapper {
      h3 {
        font-size: 25px;
      }

      form {
        .label-and-input-container {
          label {
            font-weight: 500;
          }

          label,
          input {
            font-size: 16px;
          }
        }
      }
    }
  }
}

// SIGN UP END

// DASHBOARD START

.dashboard {
  background-color: #fff;
  height: 100vh;

  .modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

    .modal-content {
      width: 60%;
      min-height: 200px;
      background-color: white;
      padding: 25px;
    }
  }

  h2 {
    font-weight: 600;
    text-align: center;
    padding-top: 20px;
    color: rgba($color: $dark-blue-color, $alpha: 0.5);
    font-size: 18px;

    span {
      color: initial;
    }
  }

  .dashboard-divider {
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: 1px solid rgba($color: $light-blue-color, $alpha: 0.4);
    margin: 10px 20px 20px;
  }

  nav {
    margin: 0 20px 20px;

    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .icons {
        display: flex;
      }

      li {
        .dashboard-icon {
          width: 16px;
          height: 14px;
          margin-left: 40px;
          color: rgba($color: $dark-blue-color, $alpha: 0.5);
        }

        .username {
          background-color: rgba($color: $blue-color, $alpha: 0.3);
          width: 96px;
          height: 30px;
          border-radius: 8px;

          p {
            text-align: center;
            line-height: 30px;
            color: $dark-blue-color;
            font-size: 14px;
            font-weight: 600;
          }
        }
      }
    }
  }

  h1 {
    font-size: 20px;
    font-weight: 600;
    color: $blue-color;
    text-align: center;
    margin-bottom: 20px;
  }

  .create-ticket-button-wrapper {
    text-align: center;
    margin: 0 auto 20px;
    position: relative;

    button {
      font-weight: 600;
      font-size: 15px;
      width: 200px;
      height: 35px;
      background-color: $blue-color;
      color: $off-white-color;
      text-align: center;
      line-height: 30px;
      border: none;
      border-radius: 8px;
    }
  }

  .fields-description {
    display: flex;
    justify-content: space-between;
    margin: 0 20px 0px;

    p {
      font-weight: 600;
      font-size: 12px;
      color: rgba($color: $dark-blue-color, $alpha: 0.5);
    }

    .ticket-num {
      margin-left: 13px;
      margin-right: 13px;
    }

    .fields-description-left {
      display: flex;
    }

    .fields-description-right {
      margin-right: 13px;
    }
  }

  .single-ticket {
    display: flex;
    align-items: center;
    margin: 20px 20px;
    height: 50px;
    background-color: $off-white-color;
    border-radius: 8px;
    justify-content: space-between;

    .left-side {
      display: flex;
      align-items: center;

      .ticket-number {
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
        line-height: 30px;
        background-color: rgba($color: $pink-color, $alpha: 0.3);
        height: 30px;
        width: 52.11px;
        font-size: 14px;
        font-weight: 300;
        border-radius: 8px;
      }

      .ticket-description {
        font-size: 14px;
        color: $dark-blue-color;
        font-weight: 400;
      }
    }

    .ticket-priority {
      margin-right: 10px;
      font-size: 14px;
      font-weight: 600;
      width: 52.11px;
      height: 30px;
      border-radius: 8px;
      text-align: center;
      line-height: 30px;
      color: $dark-blue-color;
      background-color: rgba($color: $red-color, $alpha: 0.5);
    }
  }
}

// DASHBOAR END
