$black-color: #000;
$darker-gray: #B0B2B4;
$off-white-color: #f2f4f7;
$pink-color: #FE85FF;
$yellow-color: #f1fa8c;
$yellow-color-darker: #D9E17E;
$green-color: #86FF85;
$green-color-darker: #79E578;
$red-color: #dc3545;
$red-color-darker: #C6303E;

