$dark-blue-color: #292b4d;
$off-white-color: #f2f4f7;
$blue-color: #5c64f2;
$light-blue-color: #79a2f2;
$pink-color: #f272ae;
$yellow-color: #f2cd5e;
$red-color: #f2594b;

// NEW
$black-color: #000;
$darker-gray: #B0B2B4;
$new-off-white-color: #f2f4f7;
$new-pink-color: #FE85FF;
$new-yellow-color: #f1fa8c;
$green-color: #86FF85;
// NEW
